<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <title> Birthday Wishes </title>

<body>
    <h1>
        <strong>
        Happy BirthdayDay Disha
    </strong>
    </h1>
    <br>

    <p><em>
        aap ko janam din ki hardik bdhai
        </em>
    </p>
</body>

<footer>
<br>
<br>
<p><strong>
RPT
 <br>
<br>
All Right Recived {{currentYear}}
</p>
</footer>

    
</html>